

/*Nav*/
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
/*Titles*/
@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@700&display=swap');
/*Text-presentation*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
/*Top-Description*/
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
/*Concerts*/
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
    /**/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
    /**/ 
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
    /*buttons*/
@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F4F4F4;
    position: relative;
    height: max-content;
    /* height: max-content; */
    z-index: 0;
}


.front-bg{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(/public/image/assets/front/horizontal.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 50px 50px;
    opacity: 0.95;
    transition: ease 600ms;
    z-index: 1;
}




@media screen and (max-width: 768px) {
    /* body{
        background-color: red;
    } */
}




@media screen and (max-width: 460px) {
    /* body{
        background-color: red;
    } */

    .front-bg{
        /* position: absolute;
        width: 100%;
        height: 100vh; */
        background: url(/public/image/assets/front/vertical.png);
        background-position: center;
        /* background-repeat: no-repeat; */
        background-size: cover;
        transition: ease 600ms;
    }
    
    .toggle{
        position: fixed;
        top: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        background: #10101df5;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 50;
    }

    .toggle.active{
        background: #7a7a7ab0;
        color: #000;
    }

    .toggle ion-icon{
        position: absolute;
        color: #F3F3F3;
        font-size: 34px;
        display: none;
    }

    .toggle ion-icon.open,
    .toggle.active ion-icon.close{
        display: none;
    }

    .toggle.active ion-icon.open,
    .toggle ion-icon.close{
        display: block;
    }

    .nav{
        top: 0px;
        position: sticky;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.85);
        transition: ease-in-out 600ms;
        z-index: 50;
    }

    .show{
        transform: translatex(-900px);
        transition: ease-in-out 600ms;
        z-index: 50;
    }

    .nav ul{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .nav ul li{
        list-style: none;
        transition: ease-in-out 200ms;
    }

    .nav ul li a{
        color: #FFF;
        text-decoration: none;
        font-size: 1.35rem;
        padding: 0 7px 10px 7px;
        font-family: 'ZCOOL XiaoWei', serif;
    }

    .nav ul li:hover{
        transform: scale(1.5);
        border-bottom: 2px solid #fff;
        transition: ease-in-out 200ms;
    }

    .front-text{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 300px;
        z-index: 1;
    }

    .front-text h2{
        margin-bottom: 5px;
    }

    .front-text h2,
    .front-text h3{
        color: #fff;
        font-family: 'Buenard', serif;
    }

    /* ======================================================================== */

    .top-info{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        flex: 1 1 50%;
        
    }

    .top-info-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 200px;
        margin: 20px 40px;
    }

    .top-info-box p{
        font-family: 'Style Script', cursive;
        font-size: 1.5rem;
    }

    .top-info-box img{
        width: 64px;
        margin-bottom: 10px;
        /* box-shadow: 10px 10px 19px -6px rgba(0,0,0,0.59); */
    }

    /* ======================================================================== */

    .presentation{
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .img-pair{
        position: relative;
    }

    .img-pair p{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 43%;
        display: block;
        font-family: 'Zilla Slab Highlight', cursive;
        font-size: 2.3rem;
        z-index: 40;
    }

    .p-1{
        color: #fff
    }
    .p-2{
        color: #000;
    }

    .bg-pair{
        width: 100%;
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .p-img-1{
        background: url(/public/image/assets/presentation/min-presentacion1.png);
    }

    .p-img-2{
        background: url(/public/image/assets/presentation/min-presentacion2.png);
        top: 71%;
    }

    .choice{
        width: 100%;
        text-align: center;
        color: #000;
        font-family: 'Zilla Slab Highlight', cursive;
        padding: 15px 0;
        margin-bottom: 40px;
        font-size: 1.5rem;
    }

    /* ======================================================================== */

    .concerts{
        width: 100%;
        height: max-content;
        margin-top: 60px;
        background-color: #dddddd;
    }

    .concerts h2,
    .concerts h4{
        text-align: center;
        font-family: 'Viga', sans-serif;
        padding: 5px;  
    }
    
    .name{
        font-family: 'Zen Tokyo Zoo', cursive;
        font-size: 1.6rem;
    }

    .date{
        font-style: italic;
    }

    .ubication{
        margin-top: 5px;
        font-weight: bold;
    }

    .concert-container{
        position: relative;
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
    }

    .concert-box{
        width: 200px;
        height: 300px;
        margin: 50px 20px;
        background-color: grey;
        border-radius: 0 0 20px 20px;
        /* box-shadow: 10px 9px 16px -6px rgba(0,0,0,0.79); */
    }

    .concert-info{
        width: 100%;
        height: max-content;
        /* height: 40%; */
        /* background-color: rgba(0, 0, 255, 0.5); */
        background:linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url('/public/image/assets/blur.png');
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .name,
    .date,
    .ubication,
    .btn-info-buy{
        text-align: center;
    }

    button{
        background-color: rgba(255, 255, 255, 0.05);
        border: none;
        border-radius: 10px;
        padding: 10px;
        transition: ease 200ms;
        font-family: 'Allerta', sans-serif;
        box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);        
    }

    button:active{
        transition: 0.2s all;
        transform: translateY(4px);
    }

    .info{
        background-color: rgba(214, 212, 69, 0.1);;
        border-bottom: 3px solid rgb(212, 209, 0);
    }
    .buy{
        background-color: rgba(0, 201, 0, 0.1);
        border-bottom: 3px solid rgb(2, 119, 2);
    }

    .btn-info-buy{
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
    .info{
        margin-bottom: 5px;
    }

    
    .img-1{
        background: url(/public/image/assets/concerts/msc1.png);
    }
    .img-2{
        background: url(/public/image/assets/concerts/msc2.png);
    }
    .img-3 {
        background: url(/public/image/assets/concerts/msc3.png);
    }
    .img-4 {
        background: url(/public/image/assets/concerts/msc4.png);
    }
    .img-5 {
        background: url(/public/image/assets/concerts/msc5.png);
    }
    .img-6 {
        background: url(/public/image/assets/concerts/msc6.png);
    }
    .img-7 {
        background: url(/public/image/assets/concerts/msc7.png);
    }
    .img-8 {
        background: url(/public/image/assets/concerts/msc8.png);
    }
    .img-9 {
        background: url(/public/image/assets/concerts/msc9.png);
    }
    .img-10 {
        background: url(/public/image/assets/concerts/msc10.png);
    }

    .nat-1{
        background: url(/public/image/assets/flags/077-netherlands.png);
    }
    .nat-2{
        background: url(/public/image/assets/flags/186-united\ states.png);
    }
    .nat-3 {
        background: url(/public/image/assets/flags/197-france.png);
    }
    .nat-4 {
        background: url(/public/image/assets/flags/066-canada.png);
    }
    .nat-5 {
        background: url(/public/image/assets/flags/033-mexico.png);
    }
    .nat-6 {
        background: url(/public/image/assets/flags/066-canada.png);
    }
    .nat-7 {
        background: url(/public/image/assets/flags/132-singapore.png);
    }
    .nat-8 {
        background: url(/public/image/assets/flags/205-norway.png);
    }
    .nat-9 {
        background: url(/public/image/assets/flags/208-germany.png);
    }
    .nat-10 {
        background: url(/public/image/assets/flags/044-russia.png);
    }


    .concert-info,
    .concert-img,
    .nation{
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bio{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        margin: 10px 0;
    }

    .concert-img {
        width: 100%;
        height: 60%;
    }
    
    .nation{
        margin-right: 15px;
        width: 24px;
        height: 24px;
    }

    /* ======================================================================== */

    .client-img{
        width: 32px;
    }

    .star img{
        width: 32px;
    }

}